<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0663FE89-4A0B-42DB-B7FC-C443599B4F18</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>video</string>
			<key>text</key>
			<string>Bilibili</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2526FE2A-9467-4CEB-90D5-C001E752E2BC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>js</string>
			<key>text</key>
			<string>JianShu</string>
			<key>url</key>
			<string>http://www.jianshu.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>518CE92D-1F23-4E37-B9D7-053C53970224</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jj</string>
			<key>text</key>
			<string>Juejin</string>
			<key>url</key>
			<string>https://juejin.cn/search?utf8=%E2%9C%93&amp;q=a&amp;query={query}</string>
		</dict>
		<key>61B05D01-FCD7-4B6E-ACEE-131D27E091A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>淘宝..</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>77FE3CFE-46EC-4D5E-9807-19E8C495FEC1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wb</string>
			<key>text</key>
			<string>weibo</string>
			<key>url</key>
			<string>http://s.weibo.com/weibo/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86745D27-0902-427D-BEAC-A41136F9EB13</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>video</string>
			<key>text</key>
			<string>IQIYi</string>
			<key>url</key>
			<string>https://so.iqiyi.com/so/q_{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D92C79CB-18D2-4E7B-9573-94C85F3ACBDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gb</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DBDB2F8E-ED4D-4A61-BA7F-16098B2BCA0E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>ZhiHu</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}%20</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DFD00167-4797-465A-917E-513A902A5003</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度一下"{query}"</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=UTF-8&amp;wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E31E85B5-CB66-4BF9-8850-A16753E787C1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sf</string>
			<key>text</key>
			<string>stackoverflow</string>
			<key>url</key>
			<string>http://www.stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ED436A3E-190C-4D45-8DC9-8E777D3BDE9C</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>dog</string>
			<key>text</key>
			<string>Dogedoge</string>
			<key>url</key>
			<string>https://www.dogedoge.com/results?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EF6829E7-51EA-40D6-A89C-EEA3C86916A2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}&amp;enc=utf-8&amp;wq={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
